// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		font-family: "Inter";
		font-size: 20px;
		line-height: 40px;
		letter-spacing: 0.05em;
		color: $mainGrey;
		cursor: pointer;
		width: 100%;
		height: rem(50);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		background: #d6e7d2;
		position: relative;
		transition: all 0.5s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: #c1e698;
				box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
				transform: translateY(2px);
			}
		}
	}
	// .select__value
	&__value {
		display: flex;
		align-items: center;
		height: rem(30);
		padding: 0 rem(35) 0 rem(18);
		gap: rem(10);

		@media (max-width: $tablet) {
			@include adaptiveValue("padding-right", 35, 23, 767, 380, 1);
		}

		> * {
			flex: 1 1 auto;
		}
		&:after {
			@extend %ic;
			content: "\e900";
			flex: 0 0 rem(16);
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: rem(10);
			height: rem(16);
			border-radius: 50%;
			background-color: #aea1a1;
			color: $mainWhite;
			transition: all 0.5s ease 0s;

			._select-open & {
				transform: rotate(-180deg);
				color: $mainDark;
				background-color: #aea1a1;
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		position: absolute;
		top: 100%;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #dce9d9;
		border-top: 0;
		border: 1px solid #d9d9d9;
		border-top: 0;
		padding: 35px 35px 30px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		color: $mainGreen;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		display: block;
		text-align: left;
		cursor: pointer;
		padding: 5px 0 5px 5px;
		color: inherit;
		display: flex;
		flex-direction: column;
		letter-spacing: 0.05em;
		border-bottom: 1px solid #d9d9d9;
		position: relative;
		transition: all 0.5s ease 0s;
		&._select-selected {
			//background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				//background: #d9d9d9;
				border-bottom: 1px solid #717171;
				color: $mainGrey;
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}
	// Состояния селекта
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}

._select-open button.select__title {
	background-color: #c1e698;
}

._select-active button.select__title {
	background-color: #c1e698;
}
