.footer {
	background-color: $mainWhite;
	@include adaptiveValue("padding-top", 40, 33, 1439, 768, 1);
	@include adaptiveValue("padding-bottom", 40, 29.35, 1439, 768, 1);

	@media (max-width: $tablet) {
		@include adaptiveValue("padding-top", 33, 22, 767, 375, 1);
		@include adaptiveValue("padding-bottom", 29.35, 16.92, 767, 375, 1);
	}

	// .footer__container

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("column-gap", 15, 0, 1439, 768, 1);
		color: $mainDark;

		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}

	// .footer__text

	&__top {
	}

	// .footer__sub-text

	&__sub-text {
		transform: translateX(4%);
		font-size: rem(20);
		@include adaptiveValue("line-height", 50, 24, 1439, 768, 1);
		white-space: nowrap;
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: $mainGreen;
			}
		}

		@media (max-width: $tablet) {
			flex: 1 0 100%;
			transform: translateX(0);
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 28, 16, 767, 375, 1);
			}
		}
	}

	// .footer__social

	&__social {
		@media (max-width: $tablet) {
			flex: 1 0 100%;
		}
	}

	// .footer__list

	&__list {
		display: flex;
		column-gap: rem(26);
	}

	// .footer__link

	&__link {
		font-size: rem(24);
		transition: all 0.3s ease 0s;

		&::before {
			font-size: rem(26.65);
		}

		@media (any-hover: hover) {
			&:hover {
				color: $mainGreen;
			}
		}
	}
}

.top-footer {
	display: flex;
	font-size: rem(20);
	@include adaptiveValue("line-height", 50, 24, 1439, 768, 1);
	//@include adaptiveValue("column-gap", 20, 22, 1439, 768, 1);
	font-weight: 400;

	@media (max-width: $tablet) {
		flex: 1 0 100%;

		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
	// .top-footer__left

	&__left {

		@media (max-width:$tablet){
			transform: translateX(-2px);
		}

		&:not(:last-child) {			
			@include adaptiveValue("padding-right", 20, 19,1439,768,1);

		}
	}

	// .top-footer__center

	&__center {
		&:not(:last-child) {			
			@include adaptiveValue("padding-right", 20, 22,1439,768,1);
		}
	}

	// .top-footer__right

	&__right {
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: $mainGreen;
			}
		}
	}
}
